@import "css-fragments/counted";
@import "css-fragments/layout";
.background {
  min-height: 100vh;
  display:flex;
  flex-direction:column;
}
.content {
  flex: 1;
  position: relative;
}
.basket-header {
  @extend %header;
  font-weight: 700;
  margin-top: 75px;

}
.basket-header__underline {
  @extend %underline;
  width: 235px;
}

.basket-flexbox {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.basket-flexbox_empty {
  margin-top: 80px;
}
.items-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.items__remove-all-button {
  align-self: end;
  background: initial;
  width: 100%;
  @extend %text;
  text-align: right;
  text-transform: initial;
  border: none;
  &:hover {
    text-decoration: underline;
  }
}
.item {
  width: 590px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  margin-bottom: 20px;
  @extend %border;
}
.item__image-container {
  max-width: 130px;
  margin: 17px 0 17px 15px;
  height: 100%;
  align-self: center;
}
.basket-content {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}
.item__name-container {
  min-width: 262px;
  @extend %text;
}
.item__name {
  //@extend %text;
  text-transform: uppercase;
}
.item__counted {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  justify-content: space-between;
}
.item__data-container {
  width: 100%;
  margin: 18px;
  display: flex;
  justify-content: space-between;
}
.item__prices {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.item__price {
  width: 110px;
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.02em;
}
.rouble-sign {
  @extend %text;
  margin-left: 5px;
  font-size: 16px;
}
.item__price-without-discount {
  @extend %text;
  text-align: right;
  text-decoration-line: line-through;
  color: #958484;
  .rouble-sign {
    color: #958484;
    font-size: 16px;
  }
}
.item__controls {
  display: flex;
  justify-content: end;
}
.delete-button-img {
  margin: 6px;
  margin-bottom: 2px;
}
.item__delete-button {
  box-sizing: border-box;
  display: block;
  border: 1px solid transparent;
}
.item__delete-button:hover, .item__delete-button:focus {
  border-color: #6D6D6D;
}
.item__button {
  @extend %button;
  border: 2px solid transparent;
  &:hover {
    background-color: unset;
    @extend %border;
  }
}
.item__button-content {
  margin: 7px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  font-family: $intro;
  display: block;
  line-height: 18px;
}
.item__button-content_minus {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}
.item__quantity {
  text-align: center;
  inline-size: 53px;
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
  @extend .center;
}
.item__quantity-controls {
  margin-right: 11px;
  display: flex;
  justify-content: right;
}
//.item__first {
//  margin-top: 0;
//}
.total-container {
  width: 385px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  align-self: baseline;
  @extend %border;
}
.total__header {
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}
.total__hr {
  margin-top: 9px;
}
.total__content {
  margin-top: 50px;
}
.total__discounts-box {
  margin-top: 7px;
}
.total__sum-box {
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 92px;
}
.basket__buy-button {
  border: none;
  width: 286px;
  margin-top: 70px;
  height: 46px;
  @extend %button;
}
.basket__add-items-button-text {
  font-family: $ubuntu;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}
.basket__add-items-button {
  @extend %button;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 65px;
  margin-bottom: 120px;
  width: 286px;
  height: 46px;
  &:hover {
    background-color: $white;
    color: black;
    .basket__add-items-button-text {
      color: black;
    }
  }
}
.basket__add-items-button_empty {
  &:hover {
    background-color: $color !important;

    .basket__add-items-button-text {
      color: white !important;
    }
  }
}
.basket__right-container {
  display: block;
}
.basket__right-container_empty {
  display: none;
}
.items-empty-text {
  @extend %text;
}
.basket__add-items-button_empty {
  margin-top: 90px;
}

.content__gradient {
  bottom: 0;
  max-height: 300px;
  height: 25%;
  min-height: 150px;
}
.request__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: transparent;
  overflow: hidden;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: background 200ms;
}
.request__background_open {
  background: rgba(0, 0, 0, 0.7);
}
.request__content-box-border {
  position: relative;
  background: $gradient;
  padding: 2px;
}
.request__content-box {
  position: relative;
  padding: 27px 40px 40px;
  background: $white;
  * {
    color: black;
  }
}
.request__header {
  @extend %header;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.request__input {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  @extend %text;
  width: 370px;
  margin-top: 4px;
  background: $white;
  height: 40px;
}
.request__input-header {
  @extend %text;
}
.request__input-container {
  margin-top: 18px;
}
.request__submit-button {
  background: $color;
  margin: 70px auto 0;
  display: block;
  @extend %button;
  color: white;
  height: 46px;
  width: 286px;
}
.request__close-button {
  position: absolute;
  top: 33px;
  right: 33px;
}
.top {
  background: unset;
}
.footer__gradient {
  display: none;
}
.request__inputs-container {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}
.basket__add-items-button_mobile {
  display: none;
}







@import "css-fragments/basket/tablet";
@import "css-fragments/basket/phone";
@import "css-fragments/tools";

//diagnostic
//* {
//  border: 1px solid #33FF00 !important;
//}
