.footer__inner-top-padding, .container, .header__inner-padding-border {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 87px;
  border-bottom: 2px solid #EFE6E3;
}

.total-container, .item__button:hover, .item, .footer__inner-top-padding, .footer__top-padding, .footer__borders, .header__inner-padding-border, .header__navbar, .header__logo-container {
  border: 2px solid #EFE6E3;
}

.request__submit-button, .basket__add-items-button, .basket__buy-button, .item__button, .header__basket-box {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  transition: background-color 100ms;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.request__submit-button:hover, .basket__add-items-button:hover, .basket__buy-button:hover, .item__button:hover, .header__basket-box:hover {
  background: #BD2846;
}

.request__input-header, .request__input, .items-empty-text, .item__price-without-discount, .rouble-sign, .item__name-container, .items__remove-all-button, .text, .alert {
  font-family: "Ubuntu-regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.request__header, .basket-header, .big-header {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.big-header {
  font-size: 35px;
  line-height: 35px !important;
  font-weight: 700;
}

.basket-header__underline {
  height: 2px;
  background-color: #EFE6E3;
}

@media (max-width: 1100px) {
  .footer__inner-top-padding, .container, .header__inner-padding-border {
    max-width: 724px;
  }
  .request__header, .basket-header, .big-header {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .request__input-header, .request__input, .items-empty-text, .item__price-without-discount, .rouble-sign, .item__name-container, .items__remove-all-button, .text, .alert {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  .request__submit-button, .basket__add-items-button, .basket__buy-button, .item__button, .header__basket-box {
    font-style: normal;
    font-weight: 700;
    font-size: 15.1227px;
    line-height: 15px;
    letter-spacing: 0.03em;
    background-color: #BD2846;
  }
  .big-header {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .footer__inner-top-padding, .container, .header__inner-padding-border {
    max-width: 335px;
  }
  .request__header, .basket-header, .big-header {
    font-weight: 700;
    font-size: 25px;
    line-height: 64px;
    letter-spacing: 0.02em;
  }
  .request__input-header, .request__input, .items-empty-text, .item__price-without-discount, .rouble-sign, .item__name-container, .items__remove-all-button, .text, .alert {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .big-header {
    font-size: 25px;
  }
}
* {
  color: #EFE6E3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__menu-switcher {
  display: none;
}

textarea:focus, input:focus {
  outline: none;
}

button, .footer__messenger, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.background {
  background-color: black;
  width: 100%;
  height: 100%;
}

.header__logo-container {
  width: 130px;
  border-top: none;
  border-bottom: none;
  height: 100%;
}

.alert {
  -webkit-box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  color: white;
  background-color: #EFE6E3;
  border: 2px solid #BD2846;
  border-radius: 0.25rem;
  font-family: intro-regular, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  transform: none;
}

.alert__message {
  padding: 0.5rem 0.9rem;
  color: black;
}

.alert__close-button {
  color: black;
  padding: 0.5rem 0.9rem;
}

.alert__button-img {
  display: block;
}

.alerts-list {
  position: fixed;
  z-index: 35;
  left: 100%;
  top: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert__container {
  width: max-content;
  display: flex;
  justify-content: space-between;
  transition: transform 250ms;
  transform: none;
  margin-top: 10px;
}

.alert__margin {
  height: 100%;
  width: 10px;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: 50;
  justify-content: center;
  align-items: center;
  display: none;
}

.loading-screen_transparent {
  transition: background-color 300ms;
  background: transparent;
}

.loader {
  border: 13px solid white;
  border-top: 13px solid #BD2846;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: border-color 200ms;
  animation: spin 2s linear infinite;
}

.loader__transparent {
  transition: border-color 200ms;
  border-color: transparent;
}

.menu__container {
  height: 100%;
  width: 100%;
}

.header__link {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: 56px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  width: 140px;
  border-top: none;
  border-bottom: none;
}

.header__nav-icon-button {
  padding-left: 3px;
  padding-right: 3px;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__padding {
  width: 100%;
  height: 19px;
  border-bottom: 2px solid #EFE6E3;
}

.header__inner-padding-border {
  border-top: none;
  border-bottom: none;
}

.header__link_first {
  margin: 0 !important;
}

.footer {
  background-color: black;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  height: auto !important;
  width: 50%;
}

.footer__content {
  padding-left: 100px;
  padding-top: 50px;
  position: relative;
}

.footer__borders {
  border-top: 0;
  border-bottom: 0;
}

.footer__item-group {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "intro-light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;
  text-align: justify;
}

.footer__href {
  color: #FFFFFF;
  text-decoration: none;
}

.count {
  display: flex;
  margin-bottom: 100px;
}

.count .change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #35e201;
  border-radius: 3px;
  cursor: pointer;
}

.count .minusmin {
  background-color: #989797;
}

.input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}

.footer__messengers {
  display: flex;
  margin-top: 20px;
  padding-bottom: 35px;
  align-items: center;
  height: auto !important;
}

.footer__messenger {
  margin: 10px;
  object-position: center;
  display: block;
}

.footer__messenger-box {
  box-sizing: border-box;
  margin-right: 36px;
}

.header__menu-switcher-container {
  display: none;
}

.menu__elements-phone {
  display: none;
}

.search-input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
}

.search-input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #FFFFFF;
}

.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
}

.header__basket-logo {
  width: 21px;
  height: 21px;
  margin: 10px;
  display: block;
}

.header__basket-box {
  margin-left: 20px;
}

.header__two {
  display: flex;
  z-index: 10;
  height: 36px;
  align-items: center;
}

.buttoncard {
  display: flex;
  position: relative;
  margin-top: 85px;
  margin-right: 300px;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.black-gradient {
  position: absolute;
  width: 100%;
  display: block;
  background: linear-gradient(transparent, black);
}

.overflow-hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.footer__top-padding {
  height: 21px;
  border-right: none;
  border-left: none;
  width: 100%;
}

.footer__inner-top-padding {
  border-top: 0;
  border-bottom: 0;
}

.footer__kiss {
  width: 244.68px !important;
  height: 234.29px !important;
  right: 135px !important;
  transform: rotate(14deg);
  bottom: -50px !important;
}

.footer__items_phone {
  display: none;
}

.kiss, .kiss__red {
  position: absolute;
  width: 141px;
  height: 137px;
  background-position: center;
  background-size: cover;
}

.kiss__red {
  background-image: url("../../img/kiss-red.png");
}

@media (max-width: 1100px) {
  .footer__messenger-box {
    margin-right: 30px;
  }
  body {
    -webkit-overflow-scrolling: auto;
  }
  .search-input:focus {
    width: 151px;
    border-color: rgba(217, 217, 217, 0.2);
  }
  .search-form {
    width: auto;
  }
  header {
    height: 85px;
  }
  .header__logo-container {
    width: 101px;
  }
  .header__navbar {
    width: 105px;
  }
  .header__logo-img {
    width: 56px;
  }
  .header__link {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 23px;
  }
  .header__nav-icon {
    width: 20px;
  }
  .header__nav-icon-button {
    padding-left: 2px;
    padding-right: 2px;
  }
  .footer__items {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    text-align: justify;
  }
  .footer__messengers {
    padding-bottom: 35px;
  }
  .footer__href {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
  .footer__content {
    padding-left: 40px;
    padding-top: 45px;
  }
  .footer__items {
    width: 70%;
    margin: 0;
  }
  .footer__href_last {
    margin-top: 6px;
  }
  .footer__messenger-box {
    background-color: unset;
  }
  .footer__messenger {
    width: 41px;
  }
  .footer__messengers {
    padding-bottom: 25px;
  }
  .footer__kiss {
    width: 159px !important;
    height: 152px !important;
    right: 50px !important;
    bottom: -33px !important;
  }
}
@media (max-width: 600px) {
  .header-holder {
    height: 66px;
  }
  .header__link {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .header__menu-switcher-container {
    display: flex;
    align-items: center;
    width: 85px;
    height: 100%;
    padding-bottom: 5px;
  }
  header {
    height: 66px;
    border-bottom: 2px solid #EFE6E3;
    background-color: black;
    width: 100%;
  }
  .header__container {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header__links {
    display: none;
  }
  .header__logo {
    margin: 0;
  }
  .alert {
    font-size: 16px;
    line-height: 16px;
  }
  .alert__container {
    margin-top: 5px;
  }
  .search-form {
    margin-left: 70px;
    width: 118px;
    height: 25px;
    margin-top: 5px;
  }
  .search-input {
    height: 25px;
    padding: 0;
    z-index: 3;
  }
  .menu__elements-phone {
    z-index: 10;
    display: none;
    opacity: 0;
    padding: 8px 0;
    transition: all 200ms linear;
  }
  .menu__phone-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__menu-switcher {
    display: block;
  }
  .header__menu-switcher-line {
    width: 28px;
    height: 2px;
    margin-top: 5px;
    background-color: white;
  }
  .header__logo-container {
    width: 150px;
  }
  .header__navbar {
    border: 0;
    height: 100%;
    padding-right: 7px;
    justify-content: right !important;
  }
  .header__nav-icon {
    width: 18px;
  }
  .header__padding {
    border: 0;
    height: 80px;
  }
  .header__inner-padding-border {
    border: 0;
  }
  body {
    overflow-x: hidden;
  }
  .footer__items {
    display: none;
  }
  .footer__items_phone {
    display: flex !important;
  }
  .footer__content {
    padding: 0;
    max-width: 335px;
    margin: 0 auto;
  }
  .footer__borders {
    border: 0;
    position: relative;
    overflow: hidden;
  }
  .footer__inner-top-padding {
    border: 0;
  }
  .footer__items {
    margin-top: 72px;
    margin-right: 0;
    justify-content: space-between;
    width: 100%;
  }
  .footer__href {
    margin-bottom: 6px;
  }
  .footer__href_last {
    margin-bottom: 0;
  }
  .footer__item {
    width: 50%;
    flex: 1;
  }
  .footer__messenger {
    width: 30px;
    margin: 0;
  }
  .footer__messengers {
    padding-bottom: 60px;
  }
  .footer__kiss {
    width: 141px !important;
    height: 137px !important;
    right: 20px !important;
  }
  body, html {
    overflow-x: hidden;
  }
}
.background {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
  position: relative;
}

.basket-header {
  font-weight: 700;
  margin-top: 75px;
}

.basket-header__underline {
  width: 235px;
}

.basket-flexbox {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}

.basket-flexbox_empty {
  margin-top: 80px;
}

.items-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

.items__remove-all-button {
  align-self: end;
  background: initial;
  width: 100%;
  text-align: right;
  text-transform: initial;
  border: none;
}
.items__remove-all-button:hover {
  text-decoration: underline;
}

.item {
  width: 590px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  margin-bottom: 20px;
}

.item__image-container {
  max-width: 130px;
  margin: 17px 0 17px 15px;
  height: 100%;
  align-self: center;
}

.basket-content {
  z-index: 2;
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.item__name-container {
  min-width: 262px;
}

.item__name {
  text-transform: uppercase;
}

.item__counted {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
  justify-content: space-between;
}

.item__data-container {
  width: 100%;
  margin: 18px;
  display: flex;
  justify-content: space-between;
}

.item__prices {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}

.item__price {
  width: 110px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  letter-spacing: 0.02em;
}

.rouble-sign {
  margin-left: 5px;
  font-size: 16px;
}

.item__price-without-discount {
  text-align: right;
  text-decoration-line: line-through;
  color: #958484;
}
.item__price-without-discount .rouble-sign {
  color: #958484;
  font-size: 16px;
}

.item__controls {
  display: flex;
  justify-content: end;
}

.delete-button-img {
  margin: 6px;
  margin-bottom: 2px;
}

.item__delete-button {
  box-sizing: border-box;
  display: block;
  border: 1px solid transparent;
}

.item__delete-button:hover, .item__delete-button:focus {
  border-color: #6D6D6D;
}

.item__button {
  border: 2px solid transparent;
}
.item__button:hover {
  background-color: unset;
}

.item__button-content {
  margin: 7px;
  margin-bottom: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  font-family: "intro-light", sans-serif;
  display: block;
  line-height: 18px;
}

.item__button-content_minus {
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 7px;
}

.item__quantity {
  text-align: center;
  inline-size: 53px;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.item__quantity-controls {
  margin-right: 11px;
  display: flex;
  justify-content: right;
}

.total-container {
  width: 385px;
  padding: 10px 15px;
  background: rgba(0, 0, 0, 0.5);
  align-self: baseline;
}

.total__header {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.total__hr {
  margin-top: 9px;
}

.total__content {
  margin-top: 50px;
}

.total__discounts-box {
  margin-top: 7px;
}

.total__sum-box {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-top: 92px;
}

.basket__buy-button {
  border: none;
  width: 286px;
  margin-top: 70px;
  height: 46px;
}

.basket__add-items-button-text {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: block;
}

.basket__add-items-button {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  margin-top: 65px;
  margin-bottom: 120px;
  width: 286px;
  height: 46px;
}
.basket__add-items-button:hover {
  background-color: #EFE6E3;
  color: black;
}
.basket__add-items-button:hover .basket__add-items-button-text {
  color: black;
}

.basket__add-items-button_empty:hover {
  background-color: #BD2846 !important;
}
.basket__add-items-button_empty:hover .basket__add-items-button-text {
  color: white !important;
}

.basket__right-container {
  display: block;
}

.basket__right-container_empty {
  display: none;
}

.basket__add-items-button_empty {
  margin-top: 90px;
}

.content__gradient {
  bottom: 0;
  max-height: 300px;
  height: 25%;
  min-height: 150px;
}

.request__background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 20;
  background: transparent;
  overflow: hidden;
  display: none;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: background 200ms;
}

.request__background_open {
  background: rgba(0, 0, 0, 0.7);
}

.request__content-box-border {
  position: relative;
  background: linear-gradient(#E53175, #B91436);
  padding: 2px;
}

.request__content-box {
  position: relative;
  padding: 27px 40px 40px;
  background: #EFE6E3;
}
.request__content-box * {
  color: black;
}

.request__header {
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 28px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.request__input {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border: 2px solid black;
  width: 370px;
  margin-top: 4px;
  background: #EFE6E3;
  height: 40px;
}

.request__input-container {
  margin-top: 18px;
}

.request__submit-button {
  background: #BD2846;
  margin: 70px auto 0;
  display: block;
  color: white;
  height: 46px;
  width: 286px;
}

.request__close-button {
  position: absolute;
  top: 33px;
  right: 33px;
}

.top {
  background: unset;
}

.footer__gradient {
  display: none;
}

.request__inputs-container {
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
}

.basket__add-items-button_mobile {
  display: none;
}

@media (max-width: 1200px) {
  .basket-header__empty {
    margin-top: 35px;
  }
  .basket-content {
    max-width: 660px;
  }
  .basket-header {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.08em;
    margin-top: 33px;
  }
  .basket-flexbox_empty {
    margin-top: 55px;
  }
  .items-empty-text {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
  }
  .basket__add-items-button-text {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
  .basket__add-items-button {
    margin-top: 59px;
    color: black;
    background-color: #EFE6E3;
  }
  .items__remove-all-button {
    top: -50px;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    margin-right: 0;
  }
  .item {
    width: 430px;
    margin-bottom: 20px;
  }
  .item__image-container {
    max-width: 75px;
    width: auto;
    height: 100%;
    margin: 15px 0 15px 15px;
  }
  .item__image {
    max-width: 75px;
    object-fit: cover;
    object-position: center;
  }
  .item__name-container {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    min-width: unset;
    white-space: nowrap;
  }
  .item__prices {
    margin-top: 5px;
  }
  .item__price {
    width: auto;
    min-width: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    margin-left: 15px;
  }
  .item__data-container {
    margin: 17px 25px 17px 17px;
  }
  .item__controls {
    margin-top: 25px;
  }
  .rouble-sign {
    margin-left: 9px;
  }
  .item__quantity {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
  .item__button-content {
    font-weight: 400;
    font-size: 28px;
    margin: 5px;
  }
  .item__button {
    background-color: initial;
  }
  .item__button-content_minus {
    margin-left: 8px;
    margin-right: 8px;
  }
  .item__quantity-controls {
    margin-right: 9px;
  }
  .total-container {
    width: 270px;
    padding: 16px 30px 19.4px;
  }
  .total__hr {
    margin-top: 7px;
  }
  .total__content {
    margin-top: 15px;
  }
  .total__quantity-header {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .total__quantity {
    font-family: "Ubuntu-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  .total__sum-box {
    margin-top: 104px;
  }
  .basket__right-container {
    margin-left: 25px;
  }
  .basket__add-items-button {
    margin-top: 80px;
  }
  .basket__add-items-button_empty {
    margin-top: 60px;
  }
  .total__discounts-box {
    margin-top: 10px;
  }
  .request__content-box {
    padding: 25px 30px;
    width: 461px;
  }
  .request__header {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .request__input-header {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15em;
  }
  .request__input {
    margin-top: 5px;
  }
  .request__input-container {
    margin-top: 12px;
  }
  .request__input {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .request__input-container_top {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  .rouble-sign, .items__remove-all-button, .items-empty-text {
    font-family: "Ubuntu-regular", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.02em;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .basket-content {
    max-width: 335px;
  }
  .basket-header__underline {
    width: 100%;
  }
  .basket__add-items-button {
    background-color: #EFE6E3;
    color: black;
    width: 100%;
    margin-bottom: 0;
    display: none;
  }
  .basket__add-items-button_mobile {
    display: flex;
    margin-top: 117px;
  }
  .basket__add-items-button_empty {
    background-color: #BD2846;
    width: 250px;
    margin-bottom: 120px;
    display: flex;
  }
  .basket__buy-button {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .basket-header {
    margin-top: 90px;
    font-weight: 600;
    font-size: 25px;
    line-height: 129.7%;
    letter-spacing: 0.08em;
  }
  .background-bubbles__container {
    padding: 0;
    padding-top: 30px;
  }
  .background-bubbles {
    background-size: 150vw 80vh;
    background-position: top left;
  }
  .basket-header__empty {
    margin-bottom: 17px;
  }
  .basket__add-items-button_empty {
    margin-top: 45px;
  }
  .basket__left-container {
    width: 100%;
  }
  .basket-header {
    margin-bottom: 15px;
  }
  .item {
    min-width: unset;
    max-width: unset;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }
  .item__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 7px;
    height: 100%;
    align-self: center;
  }
  .item__name {
    display: none;
  }
  .item__name-container {
    max-width: 150px;
  }
  .item__data-container {
    margin: 10px 7px 10px 7px;
  }
  .item__image {
    height: 50px;
    max-width: 50px;
    display: block;
  }
  .rouble-sign {
    font-size: 16px;
    margin-left: 4px;
  }
  .item__button {
    border-color: #EFE6E3;
  }
  .item__button-content {
    margin: 3px 5px;
    font-size: 18px;
  }
  .item__button-content_minus {
    margin: 0 6px;
  }
  .item__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    margin-left: 5px;
    min-width: unset;
  }
  .item__price-without-discount {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    min-width: unset;
    width: min-content;
    white-space: nowrap;
  }
  .item__price-without-discount .rouble-sign {
    font-size: 16px;
  }
  .item__controls {
    z-index: 2;
    margin-top: 10px;
  }
  .basket-flexbox {
    flex-wrap: wrap;
  }
  .total-container {
    margin-top: 28px;
    width: 335px;
  }
  .basket__right-container {
    margin: 0;
  }
  .total-container {
    padding: 16px 23px;
    margin-top: 48px;
  }
  .total__header {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .total__content {
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .total__sum-box {
    margin-top: 85px;
  }
  .total__discounts-box {
    margin-top: 3px;
  }
  .request__content-box {
    padding: 17px;
    width: 100%;
    max-width: 335px;
  }
  .request__inputs-box {
    width: 100%;
    margin: 0;
  }
  .request__header {
    font-size: 20px;
    line-height: 28px;
  }
  .request__input {
    line-height: 37px;
    margin-top: 0;
    max-width: unset;
    width: 100%;
  }
  .request__input-header {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
  }
  .request__submit-button {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 5px;
  }
  .request__close-button {
    top: 15px;
    right: 19px;
  }
  .request__close-button-img {
    width: 22px;
  }
  .request__background {
    z-index: 31;
  }
  .request__input-container, .request__input-container_top {
    margin-top: 6px;
    width: 100%;
  }
  .request__input-container_first {
    margin: 0;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.anti-link, .header__link {
  text-decoration: none;
}

.center, .header__navbar, .item__quantity {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  background: rgba(50, 59, 91, 0.6);
  width: 100%;
  height: 100%;
  transition: opacity 300ms;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal__close-button {
  position: absolute;
  top: 25px;
  right: 25px;
}

.modal {
  position: relative;
  box-sizing: border-box;
}

.opacity_0 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
}

/*# sourceMappingURL=basket.css.map */
