.top, .footer__inner-top-padding, .container, .header__inner-padding-border {
  max-width: 1200px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  font-style: normal;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  height: 87px;
  border-bottom: 2px solid #EFE6E3;
}

.bottom-padding, .cards, .soon__content, .about, .about__top-border, .top, .footer__inner-top-padding, .footer__top-padding, .footer__borders, .header__inner-padding-border, .header__navbar, .header__logo-container {
  border: 2px solid #EFE6E3;
}

.buy-chooses__button, .top__buy-button, .header__basket-box {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  width: auto;
  overflow: visible;
  cursor: pointer;
  background: transparent;
  color: inherit;
  transition: background-color 100ms;
  border: 1px solid transparent;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy-chooses__button:hover, .top__buy-button:hover, .header__basket-box:hover {
  background: #BD2846;
}

.soon__text, .about__text, .top__left-text, .text, .alert {
  font-family: "Ubuntu-regular", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
}

.buy-chooses__header, .soon__header, .about__header, .top__header-text, .big-header {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 34px;
  line-height: 72px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.big-header {
  font-size: 35px;
  line-height: 35px !important;
  font-weight: 700;
}

.soon__mobile-underline, .soon__header-underline, .about__header-underline {
  height: 2px;
  background-color: #EFE6E3;
}

@media (max-width: 1100px) {
  .top, .footer__inner-top-padding, .container, .header__inner-padding-border {
    max-width: 724px;
  }
  .buy-chooses__header, .soon__header, .about__header, .top__header-text, .big-header {
    font-family: "Ubuntu", sans-serif;
    font-style: normal;
    font-size: 30px;
    line-height: 64px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
  }
  .soon__text, .about__text, .top__left-text, .text, .alert {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
  }
  .buy-chooses__button, .top__buy-button, .header__basket-box {
    font-style: normal;
    font-weight: 700;
    font-size: 15.1227px;
    line-height: 15px;
    letter-spacing: 0.03em;
    background-color: #BD2846;
  }
  .big-header {
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .top, .footer__inner-top-padding, .container, .header__inner-padding-border {
    max-width: 335px;
  }
  .buy-chooses__header, .soon__header, .about__header, .top__header-text, .big-header {
    font-weight: 700;
    font-size: 25px;
    line-height: 64px;
    letter-spacing: 0.02em;
  }
  .soon__text, .about__text, .top__left-text, .text, .alert {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .big-header {
    font-size: 25px;
  }
}
* {
  color: #EFE6E3;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header__menu-switcher {
  display: none;
}

textarea:focus, input:focus {
  outline: none;
}

button, .footer__messenger, input[type=submit], input[type=reset] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.background {
  background-color: black;
  width: 100%;
  height: 100%;
}

.header__logo-container {
  width: 130px;
  border-top: none;
  border-bottom: none;
  height: 100%;
}

.alert {
  -webkit-box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  box-shadow: 4px 1px 33px 22px rgba(34, 60, 80, 0.2);
  color: white;
  background-color: #EFE6E3;
  border: 2px solid #BD2846;
  border-radius: 0.25rem;
  font-family: intro-regular, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  transform: none;
}

.alert__message {
  padding: 0.5rem 0.9rem;
  color: black;
}

.alert__close-button {
  color: black;
  padding: 0.5rem 0.9rem;
}

.alert__button-img {
  display: block;
}

.alerts-list {
  position: fixed;
  z-index: 35;
  left: 100%;
  top: 0;
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert__container {
  width: max-content;
  display: flex;
  justify-content: space-between;
  transition: transform 250ms;
  transform: none;
  margin-top: 10px;
}

.alert__margin {
  height: 100%;
  width: 10px;
}

.loading-screen {
  width: 100%;
  height: 100%;
  background: black;
  position: fixed;
  z-index: 50;
  justify-content: center;
  align-items: center;
  display: none;
}

.loading-screen_transparent {
  transition: background-color 300ms;
  background: transparent;
}

.loader {
  border: 13px solid white;
  border-top: 13px solid #BD2846;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  transition: border-color 200ms;
  animation: spin 2s linear infinite;
}

.loader__transparent {
  transition: border-color 200ms;
  border-color: transparent;
}

.menu__container {
  height: 100%;
  width: 100%;
}

.header__link {
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  margin-left: 56px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header__links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__navbar {
  width: 140px;
  border-top: none;
  border-bottom: none;
}

.header__nav-icon-button {
  padding-left: 3px;
  padding-right: 3px;
}

.header__logo {
  margin-right: 41px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header__padding {
  width: 100%;
  height: 19px;
  border-bottom: 2px solid #EFE6E3;
}

.header__inner-padding-border {
  border-top: none;
  border-bottom: none;
}

.header__link_first {
  margin: 0 !important;
}

.footer {
  background-color: black;
  z-index: 10;
  position: relative;
  overflow: hidden;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  height: auto !important;
  width: 50%;
}

.footer__content {
  padding-left: 100px;
  padding-top: 50px;
  position: relative;
}

.footer__borders {
  border-top: 0;
  border-bottom: 0;
}

.footer__item-group {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-family: "intro-light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 35px;
  text-align: justify;
}

.footer__href {
  color: #FFFFFF;
  text-decoration: none;
}

.count {
  display: flex;
  margin-bottom: 100px;
}

.count .change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #35e201;
  border-radius: 3px;
  cursor: pointer;
}

.count .minusmin {
  background-color: #989797;
}

.input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}

.footer__messengers {
  display: flex;
  margin-top: 20px;
  padding-bottom: 35px;
  align-items: center;
  height: auto !important;
}

.footer__messenger {
  margin: 10px;
  object-position: center;
  display: block;
}

.footer__messenger-box {
  box-sizing: border-box;
  margin-right: 36px;
}

.header__menu-switcher-container {
  display: none;
}

.menu__elements-phone {
  display: none;
}

.search-input {
  height: 42px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  color: white;
}

.search-input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #FFFFFF;
}

.search-form {
  position: relative;
  width: 300px;
  margin: 0 auto;
  height: 42px;
}

.header__basket-logo {
  width: 21px;
  height: 21px;
  margin: 10px;
  display: block;
}

.header__basket-box {
  margin-left: 20px;
}

.header__two {
  display: flex;
  z-index: 10;
  height: 36px;
  align-items: center;
}

.buttoncard {
  display: flex;
  position: relative;
  margin-top: 85px;
  margin-right: 300px;
  justify-content: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}

.black-gradient {
  position: absolute;
  width: 100%;
  display: block;
  background: linear-gradient(transparent, black);
}

.overflow-hidden {
  overflow: hidden;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.footer__top-padding {
  height: 21px;
  border-right: none;
  border-left: none;
  width: 100%;
}

.footer__inner-top-padding {
  border-top: 0;
  border-bottom: 0;
}

.footer__kiss {
  width: 244.68px !important;
  height: 234.29px !important;
  right: 135px !important;
  transform: rotate(14deg);
  bottom: -50px !important;
}

.footer__items_phone {
  display: none;
}

.kiss, .kiss__black, .kiss__white, .kiss__red {
  position: absolute;
  width: 141px;
  height: 137px;
  background-position: center;
  background-size: cover;
}

.kiss__red {
  background-image: url("../../img/kiss-red.png");
}

@media (max-width: 1100px) {
  .footer__messenger-box {
    margin-right: 30px;
  }
  body {
    -webkit-overflow-scrolling: auto;
  }
  .search-input:focus {
    width: 151px;
    border-color: rgba(217, 217, 217, 0.2);
  }
  .search-form {
    width: auto;
  }
  header {
    height: 85px;
  }
  .header__logo-container {
    width: 101px;
  }
  .header__navbar {
    width: 105px;
  }
  .header__logo-img {
    width: 56px;
  }
  .header__link {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.02em;
    margin-left: 23px;
  }
  .header__nav-icon {
    width: 20px;
  }
  .header__nav-icon-button {
    padding-left: 2px;
    padding-right: 2px;
  }
  .footer__items {
    margin-top: 20px;
    font-weight: 300;
    font-size: 12px;
    line-height: 26px;
    text-align: justify;
  }
  .footer__messengers {
    padding-bottom: 35px;
  }
  .footer__href {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 0.02em;
  }
  .footer__content {
    padding-left: 40px;
    padding-top: 45px;
  }
  .footer__items {
    width: 70%;
    margin: 0;
  }
  .footer__href_last {
    margin-top: 6px;
  }
  .footer__messenger-box {
    background-color: unset;
  }
  .footer__messenger {
    width: 41px;
  }
  .footer__messengers {
    padding-bottom: 25px;
  }
  .footer__kiss {
    width: 159px !important;
    height: 152px !important;
    right: 50px !important;
    bottom: -33px !important;
  }
}
@media (max-width: 600px) {
  .header-holder {
    height: 66px;
  }
  .header__link {
    margin-left: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
  }
  .header__menu-switcher-container {
    display: flex;
    align-items: center;
    width: 85px;
    height: 100%;
    padding-bottom: 5px;
  }
  header {
    height: 66px;
    border-bottom: 2px solid #EFE6E3;
    background-color: black;
    width: 100%;
  }
  .header__container {
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  .header__links {
    display: none;
  }
  .header__logo {
    margin: 0;
  }
  .alert {
    font-size: 16px;
    line-height: 16px;
  }
  .alert__container {
    margin-top: 5px;
  }
  .search-form {
    margin-left: 70px;
    width: 118px;
    height: 25px;
    margin-top: 5px;
  }
  .search-input {
    height: 25px;
    padding: 0;
    z-index: 3;
  }
  .menu__elements-phone {
    z-index: 10;
    display: none;
    opacity: 0;
    padding: 8px 0;
    transition: all 200ms linear;
  }
  .menu__phone-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .header__menu-switcher {
    display: block;
  }
  .header__menu-switcher-line {
    width: 28px;
    height: 2px;
    margin-top: 5px;
    background-color: white;
  }
  .header__logo-container {
    width: 150px;
  }
  .header__navbar {
    border: 0;
    height: 100%;
    padding-right: 7px;
    justify-content: right !important;
  }
  .header__nav-icon {
    width: 18px;
  }
  .header__padding {
    border: 0;
    height: 80px;
  }
  .header__inner-padding-border {
    border: 0;
  }
  body {
    overflow-x: hidden;
  }
  .footer__items {
    display: none;
  }
  .footer__items_phone {
    display: flex !important;
  }
  .footer__content {
    padding: 0;
    max-width: 335px;
    margin: 0 auto;
  }
  .footer__borders {
    border: 0;
    position: relative;
    overflow: hidden;
  }
  .footer__inner-top-padding {
    border: 0;
  }
  .footer__items {
    margin-top: 72px;
    margin-right: 0;
    justify-content: space-between;
    width: 100%;
  }
  .footer__href {
    margin-bottom: 6px;
  }
  .footer__href_last {
    margin-bottom: 0;
  }
  .footer__item {
    width: 50%;
    flex: 1;
  }
  .footer__messenger {
    width: 30px;
    margin: 0;
  }
  .footer__messengers {
    padding-bottom: 60px;
  }
  .footer__kiss {
    width: 141px !important;
    height: 137px !important;
    right: 20px !important;
  }
  body, html {
    overflow-x: hidden;
  }
}
body, html {
  scroll-behavior: smooth;
}

.top {
  display: flex;
  height: 680px;
  border-top: none;
  border-bottom: none;
  align-items: stretch;
}

.top__header-text__bottom {
  font-weight: 600;
}

.top__header-border {
  width: 407px;
  height: 2px;
  background-color: white;
}

.top__left {
  width: 50%;
  padding: 75px 43px 128px 100px;
}

.top__left-text {
  margin-top: 69px;
}

.top__right {
  width: 50%;
  background-color: #EFE6E3;
  position: relative;
}

.top__buy-button {
  width: 286px;
  height: 46px;
  margin-top: 70px;
}

.top__kiss-my-hair-img {
  position: absolute;
  top: 21px;
  left: 24px;
}

.top__bottle-img {
  right: -15px;
  bottom: 53px;
  position: absolute;
}

.top__arrows {
  right: 35px;
  bottom: 25px;
  position: absolute;
}

.top__arrow-img {
  margin-left: 10px;
}

.main__block {
  overflow-x: hidden;
  display: flex;
  background-color: black;
  min-height: 500px;
  max-height: 800px;
}

.about__background {
  background-color: #BD2846;
  width: 100%;
  height: 100%;
  padding-bottom: 90px;
  padding-top: 92px;
  border-top: 2px solid #EFE6E3;
  position: relative;
}

.about__top-border {
  height: 20px;
  width: 100%;
  border-bottom: none;
}

.about {
  width: 100%;
  display: flex;
}

.about__photo {
  width: 100%;
  height: 500px;
  position: relative;
  background: url("../img/about-photo.png") center;
  background-size: cover;
}

.about__photo-label-container {
  display: flex;
  position: absolute;
  bottom: 25px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
}

.about__photo-label {
  width: 200px;
  height: 120px;
  margin-right: -5px;
}

.about__photo-label-mobile {
  display: none;
}

.about__photo-label_second {
  width: 180px;
}

.about__header {
  font-weight: 700;
}

.about__content {
  padding: 67px 100px 0 122px;
}

.about__header-underline {
  width: 349px;
}

.about__text {
  margin-top: 66px;
  width: 440px;
}

.soon {
  border-top: 2px solid #EFE6E3;
}

.soon__content {
  border-top: none;
  padding: 95px 0 77px 100px;
  position: relative;
}

.soon__header_bold {
  font-weight: 700;
}

.soon__header-underline {
  width: 470px;
}

.soon__text {
  margin-top: 65px;
}

.soon__header-container_mobile {
  display: none;
}

.cards {
  border-top: none;
}

.cards__opacity {
  background-color: black;
  opacity: 0.5;
}

.card__wrapper {
  z-index: 1;
  display: flex;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #EFE6E3;
  border: none;
  margin-right: 16px;
  width: 322px;
  height: 372px;
  justify-content: center;
  align-items: center;
}

.card__last {
  margin: 0 !important;
}

.forface {
  font-family: "oswald", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 74px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: white;
  padding-bottom: 23px;
}

.for-face__text {
  max-width: 520px;
  color: #FFFFFF;
  font-family: "intro-light", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

.text3card {
  background-color: black;
  max-height: 800px;
  padding-top: 278px;
  padding-bottom: 50px;
}

.card__button {
  width: 204px;
  height: 52px;
  border: 2px solid black;
  color: black;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 17px;
  margin-top: 10px;
  /* or 100% */
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.card__button_flex {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
}

.card__img {
  width: 221px;
  height: 228px;
}

.bottom-padding {
  height: 98px;
  width: 100%;
  border-bottom: none;
  border-top: none;
}

.count {
  display: flex;
  margin-bottom: 100px;
}

.count .change {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-weight: 600;
  color: #fff;
  background-color: #35e201;
  border-radius: 3px;
  cursor: pointer;
}

.count .minusmin {
  background-color: #989797;
}

.input {
  max-width: 55px;
  text-align: center;
  font-weight: 700;
  background-color: #fff;
  border: none;
  border-radius: 3px;
  margin: 0 5px;
}

.intro__bottle_phone {
  display: none;
}

.intro__bottle-bubbles {
  display: none;
}

.about__phone-gradient {
  display: none;
}

.about__girl-background_phone {
  display: none;
}

.about__phone-gradient_bottom {
  display: none;
}

.cards__background_phone {
  display: none;
}

.intro__bottle-container {
  display: none;
}

.menu__elements-phone {
  display: none;
}

.top__left-mobile-padding {
  display: none;
}

.soon__mobile-underline {
  display: none;
}

.kiss, .kiss__black, .kiss__white, .kiss__red {
  position: absolute;
  width: 141px;
  height: 137px;
  background-position: center;
  background-size: cover;
}

.kiss__white {
  background-image: url("../img/kiss-white.png");
}

.kiss__black {
  background-image: url("../img/kiss-black.png");
}

.kiss__red {
  background-image: url("../img/kiss-red.png");
}

.about__pc-top-kiss {
  left: -155px;
  top: -136px;
}

.about__pc-second-top-kiss {
  left: -89px;
  top: -20px;
  transform: rotate(-15deg);
}

.about__pc-black-kiss {
  top: 44px;
  right: 148px;
}

.about__pc-right-first-kiss {
  right: -118px;
  transform: rotate(342deg);
  top: 0;
}

.about__pc-right-second-kiss {
  top: 140px;
  right: -75px;
}

.about__pc-right-third-kiss {
  bottom: -42px;
  right: -22px;
  transform: rotate(355deg);
}

.about {
  position: relative;
}

.soon__middle-kiss {
  left: 544px;
  top: 74px;
  transform: rotate(20deg);
}

.soon__right-top-kiss {
  right: 60px;
  top: 105px;
}

.soon__right-bottom-kiss {
  bottom: 45px;
  right: -43px;
  transform: rotate(340deg);
}

.top__phone-kisses {
  display: none;
}

.top__right-phone-container {
  display: contents;
}

.card__phone-kiss {
  display: none;
}

.buy-chooses {
  width: 400px;
  position: relative;
  padding: 27px 40px 40px;
  background: #EFE6E3;
}
.buy-chooses * {
  color: black;
}

.buy-chooses__button {
  max-width: 300px;
  width: 100%;
  text-decoration: unset;
  margin-top: 20px;
  height: 50px;
}

.buy-chooses__buttons-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1100px) {
  body {
    -webkit-overflow-scrolling: auto;
  }
  .about__content {
    width: 876px;
    height: 344px;
    margin: 0 auto;
  }
  .top__left {
    padding: 45px 21px 71px 42px;
  }
  .top__header-border {
    width: 100%;
  }
  .top__left-text {
    margin-top: 45px;
  }
  .top__buy-button {
    width: 215px;
    height: 46px;
    margin-top: 45px;
  }
  .top {
    height: auto;
  }
  .top__kiss-my-hair-img {
    width: 293px;
    top: 20px;
    left: 25px;
    transform: rotate(13.44deg);
  }
  .top__bottle-img {
    width: 280px;
    bottom: 69px;
    right: 30px;
  }
  .top__arrows {
    right: 25px;
    bottom: 24px;
  }
  .about__content {
    padding: 56px 42px 82px 79px;
    width: 55%;
    height: auto;
  }
  .about__text {
    width: 100%;
    margin-top: 40px;
  }
  .about__header-underline {
    width: 225px;
  }
  .about__photo {
    width: 41%;
    height: auto;
    background-image: url("../../../img/about-photo-mobile.png");
  }
  .about__photo-label {
    display: none;
  }
  .about__photo-label-mobile {
    position: absolute;
    bottom: 10px;
    left: 47px;
    width: 190px;
  }
  .soon__content {
    padding: 65px 296px 65px 42px;
    border-bottom: 0;
  }
  .soon__header-underline {
    width: 386px;
  }
  .soon__text {
    width: 280px;
    margin-top: 35px;
  }
  .soon__text br {
    display: none;
  }
  .card {
    width: 196px;
    height: 238px;
    margin-right: 27px;
  }
  .card__img {
    width: 134px;
    height: 146px;
  }
  .card__button {
    width: 124px;
    height: 33px;
    font-weight: 700;
    font-size: 10.8848px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  .cards {
    border-bottom: 0;
  }
  .bottom-padding {
    height: 85px;
  }
  .kiss, .kiss__red, .kiss__white, .kiss__black {
    width: 94px;
    height: 92px;
  }
  .about__left-kisses_pc {
    display: none;
  }
  .about__pc-right-kisses {
    display: none;
  }
  .about__pc-black-kiss {
    top: 55px;
    right: 98px;
  }
  .soon__middle-kiss {
    left: 406px;
    top: 64px;
    transform: rotate(18deg);
  }
  .soon {
    overflow-x: hidden;
  }
  .soon__right-top-kiss {
    transform: rotate(6deg);
    right: 29px;
    top: 105px;
  }
  .soon__right-bottom-kiss {
    bottom: 64px;
    right: -36px;
  }
}
@media (max-width: 600px) {
  .top {
    flex-direction: column-reverse;
    max-width: unset;
    border: 0;
    position: relative;
    overflow-x: hidden;
  }
  .top__right {
    height: 417px;
    width: 100%;
  }
  .card {
    margin: 0;
  }
  .card__wrapper {
    flex-wrap: wrap;
  }
  .card__background {
    display: none;
  }
  .card__img {
    height: 123px;
    width: 132px;
  }
  .card__button {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
  }
  .cards__background_phone {
    display: block;
    position: absolute;
    top: -160px;
    width: 100vw;
    left: 0;
    height: 600px;
  }
  .cards {
    position: relative;
  }
  .item__title_phone {
    display: inline-block;
    width: 100%;
  }
  .top__kiss-my-hair-img {
    width: 231px;
    height: 244px;
    transform: unset;
    top: 15px;
    left: 0;
  }
  .top__arrows {
    display: none;
  }
  .top__bottle-img {
    width: 250px;
    bottom: 19px;
    right: 0;
  }
  .top__left-mobile-padding {
    display: block;
    width: 100%;
    height: 13px;
    border-bottom: 2px solid #EFE6E3;
  }
  .top__left {
    width: 100%;
    padding: 0;
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
    border-right: 0;
    border-left: 0;
  }
  .top__header {
    margin-top: 50px;
  }
  .top__left-text {
    margin-top: 45px;
  }
  .top__buy-button {
    width: 100%;
    height: 45px;
    margin-bottom: 80px;
  }
  .about__top-border {
    display: none;
  }
  .about {
    border: 0;
    flex-direction: column;
  }
  .about__photo {
    height: 395px;
    width: 100%;
  }
  .about__background {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .about__photo-label-mobile {
    display: initial;
    left: auto;
    bottom: -52px;
    right: 25px;
    width: 238px;
  }
  .about__content {
    width: 100%;
    padding: 0;
    margin-top: 60px;
  }
  .about__header-underline {
    width: 100%;
  }
  .about__text {
    margin-top: 45px;
  }
  .soon__mobile-underline {
    display: block;
    width: 100%;
    height: 2px;
  }
  .soon__header-container {
    display: none;
  }
  .soon__header-underline {
    width: 100%;
  }
  .soon__header-container_mobile {
    width: 100%;
    margin-top: 49px;
    display: block;
  }
  .soon__content {
    padding: 0;
    border: 0;
  }
  .soon__text {
    margin-top: 45px;
  }
  .cards {
    border: 0;
    padding-top: 96px;
  }
  .card {
    display: none;
    width: 301px;
    height: 348px;
  }
  .card__first {
    display: flex;
  }
  .card__img {
    width: 205px;
    height: 214px;
  }
  .card__button {
    width: 191px;
    height: 48px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .bottom-padding {
    height: 110px;
    border: 0;
  }
  .top__phone-kisses {
    display: block;
    position: relative;
  }
  .top__phone-kisses * {
    width: 81px;
    height: 77px;
  }
  .top__right-top-kiss {
    top: 50px;
    right: 46px;
    transform: rotate(13deg);
  }
  .top__right-bottom-kiss {
    top: 115px;
    right: -28px;
  }
  .top__left-kiss {
    top: 272px;
    left: -47px;
    transform: rotate(16deg);
  }
  .top__right-phone-container {
    display: block;
    position: relative;
  }
  .about__pc-black-kiss {
    display: none;
  }
  .about__left-kisses_pc {
    display: block;
  }
  .about__left-kisses_pc * {
    width: 78.5px;
    height: 74.5px;
  }
  .about__pc-second-top-kiss {
    display: none;
  }
  .about__pc-right-kisses {
    display: block;
  }
  .about__pc-right-kisses * {
    width: 78.5px;
    height: 74.5px;
  }
  .about__pc-right-third-kiss {
    display: none;
  }
  .about__pc-top-kiss {
    left: 7px;
    top: -45px;
    transform: rotate(11deg);
  }
  .about__pc-right-first-kiss {
    right: -35px;
    top: 55px;
  }
  .about__pc-right-second-kiss {
    right: -20px;
    top: 114px;
  }
  .about__background {
    overflow-x: hidden;
  }
  .soon__kisses * {
    width: 103px;
    height: 100px;
  }
  .soon__right-top-kiss {
    transform: rotate(18deg);
    right: 23px;
    top: -2px;
  }
  .soon__right-bottom-kiss {
    display: none;
  }
  .card__phone-kiss {
    display: block;
    width: 103px;
    height: 100px;
    top: -15px;
    transform: rotate(15deg);
    right: 0;
  }
  .background {
    overflow-x: hidden;
  }
  .buy-chooses {
    max-width: 300px;
  }
}
.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

.none {
  display: none;
}

.flex {
  display: flex;
}

.block {
  display: block;
}

.anti-link, .header__link {
  text-decoration: none;
}

.center, .header__navbar, .card__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  background: rgba(50, 59, 91, 0.6);
  width: 100%;
  height: 100%;
  transition: opacity 300ms;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.modal__close-button {
  position: absolute;
  top: 25px;
  right: 25px;
}

.modal {
  position: relative;
  box-sizing: border-box;
}

.opacity_0 {
  opacity: 0;
}

.opacity_1 {
  opacity: 1;
}



/*# sourceMappingURL=main.css.map */
