@media(max-width: 600px) {
  @mixin container {
    max-width: 335px;
    width: 100%;
    margin: 0 auto;
  }
  .top {
    flex-direction: column-reverse;
    max-width: unset;
    border: 0;
    position: relative;
    overflow-x: hidden;
  }
  .top__right {
    height: 417px;
    width: 100%;
  }
  .card {
    margin: 0;
  }
  .card__wrapper {
    flex-wrap: wrap;
  }
  .card__background {
    display: none;
  }
  .card__img {
    height: 123px;
    width: 132px;
  }
  .card__button {
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
  }
  .cards__background_phone {
    display: block;
    position: absolute;
    top: -160px;
    width: 100vw;
    left: 0;
    height: 600px;
  }
  .cards {
    position: relative;
  }
  .item__title_phone {
    display: inline-block;
    width: 100%;
  }
  .top__kiss-my-hair-img {
    width: 231px;
    height: 244px;
    transform: unset;
    top: 15px;
    left: 0;
  }
  .top__arrows {
    display: none;
  }
  .top__bottle-img {
    width: 250px;
    bottom: 19px;
    right: 0;
  }
  .top__left-mobile-padding {
    display: block;
    width: 100%;
    height: 13px;
    border-bottom: $border;
  }
  .top__left {
    width: 100%;
    padding: 0;
    @include container;
    border-right: 0;
    border-left: 0;
  }
  .top__header {
    margin-top: 50px;
  }
  .top__left-text {
    margin-top: 45px;
  }
  .top__buy-button {
    width: 100%;
    height: 45px;
    margin-bottom: 80px;
  }
  .about__top-border {
    display: none;
  }
  .about {
    border: 0;
    flex-direction: column;
  }
  .about__photo {
    height: 395px;
    width: 100%;
  }
  .about__background {
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .about__photo-label-mobile {
    display: initial;
    left: auto;
    bottom: -52px;
    right: 25px;
    width: 238px;
  }
  .about__content {
    width: 100%;
    padding: 0;
    margin-top: 60px;
  }
  .about__header-underline {
    width: 100%;
  }
  .about__text {
    margin-top: 45px;
  }
  .soon__mobile-underline {
    display: block;
    width: 100%;
    height: 2px;
  }
  .soon__header-container {
    display: none;
  }
  .soon__header-underline {
    width: 100%;
  }
  .soon__header-container_mobile {
    width: 100%;
    margin-top: 49px;
    display: block;
  }
  .soon__content {
    padding: 0;
    border: 0;
  }
  .soon__text {
    margin-top: 45px;
  }
  .cards {
    border: 0;
    padding-top: 96px;
  }
  .card {
    display: none;
    width: 301px;
    height: 348px;
  }
  .card__first {
    display: flex;
  }
  .card__img {
    width: 205px;
    height: 214px;
  }
  .card__button {
    width: 191px;
    height: 48px;
    font-size: 17px;
    line-height: 17px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.03em;
  }
  .bottom-padding {
    height: 110px;
    border: 0;
  }
  .top__phone-kisses {
    display: block;
    * {
      width: 81px;
      height: 77px;
    }

    position: relative;
  }
  .top__right-top-kiss {
    top: 50px;
    right: 46px;
    transform: rotate(13deg);
  }
  .top__right-bottom-kiss {
    top: 115px;
    right: -28px;
  }
  .top__left-kiss {
    top: 272px;
    left: -47px;
    transform: rotate(16deg);
  }
  .top__right-phone-container {
    display: block;
    position: relative;
  }
  .about__pc-black-kiss {
    display: none;
  }
  .about__left-kisses_pc {
    display: block;
    * {
      width: 78.5px;
      height: 74.5px;
    }
  }
  .about__pc-second-top-kiss {
    display: none;
  }
  .about__pc-right-kisses {
    display: block;
    * {
      width: 78.5px;
      height: 74.5px;
    }
  }
  .about__pc-right-third-kiss {
    display: none;
  }
  .about__pc-top-kiss {
    left: 7px;
    top: -45px;
    transform: rotate(11deg);
  }
  .about__pc-right-first-kiss {
    right: -35px;
    top: 55px;
  }
  .about__pc-right-second-kiss {
    right: -20px;
    top: 114px;
  }
  .about__background {
    overflow-x: hidden;
  }
  .soon__kisses {
    * {
      width: 103px;
      height: 100px;
    }
  }
  .soon__right-top-kiss {
    transform: rotate(18deg);
    right: 23px;
    top: -2px;
  }
  .soon__right-bottom-kiss {
    display: none;
  }
  .card__phone-kiss {
    display: block;
    width: 103px;
    height: 100px;
    top: -15px;
    transform: rotate(15deg);
    right: 0;
  }
  .background {
    overflow-x: hidden;
  }
  .buy-chooses {
    max-width: 300px;
  }




}