@media (max-width: 600px) {
  $container: 335px;
  %text-phone {
    @include text;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }
  .basket-content {
    max-width: $container;
  }
  .basket-header__underline {
    width: 100%;
  }


  .basket__add-items-button {
    background-color: $white;
    color: black;
    width: 100%;
    margin-bottom: 0;
    display: none;
  }
  .basket__add-items-button_mobile {
    display: flex;
    margin-top: 117px;
  }
  .basket__add-items-button_empty {
    background-color: $color;
    width: 250px;
    margin-bottom: 120px;
    display: flex;
  }
  .basket__buy-button {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .basket-header {
    margin-top: 90px;
    font-weight: 600;
    font-size: 25px;
    line-height: 129.7%;
    letter-spacing: 0.08em;
  }
  .background-bubbles__container {
    padding: 0;
    padding-top: 30px;
  }
  .background-bubbles {
    background-size: 150vw 80vh;
    background-position: top left;
  }
  .basket-header__empty {
    margin-bottom: 17px;
  }
  .items-empty-text {
    @extend %text-phone;
  }
  .basket__add-items-button_empty {
    margin-top: 45px;
  }
  .basket__left-container {
    width: 100%;
  }
  .basket-header {
    margin-bottom: 15px;
  }
  .items__remove-all-button {
    @extend %text-phone;
  }
  .item {
    min-width: unset;
    max-width: unset;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }
  .item__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 7px;
    height: 100%;
    align-self: center;
  }
  .item__name {
    display: none;
  }
  .item__name-container {
    max-width: 150px;
  }
  .item__data-container {
    margin: 10px 7px 10px 7px;
  }
  .item__image {
    height: 50px;
    max-width: 50px;
    display: block;
  }
  .rouble-sign {
    @extend %text-phone;
    font-size: 16px;
    margin-left: 4px;
  }
  .item__button {
    border-color: $white;
  }
  .item__button-content {
    margin: 3px 5px;
    font-size: 18px;
  }
  .item__button-content_minus {
    margin: 0 6px;
  }

  .item__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    margin-left: 5px;
    min-width: unset;
  }
  .item__price-without-discount {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    min-width: unset;
    width: min-content;
    white-space:nowrap;
    .rouble-sign {
      font-size: 16px;
    }
  }
  .item__controls {
    z-index: 2;
    margin-top: 10px;
  }
  .basket-flexbox {
    flex-wrap: wrap;
  }
  .total-container {
    margin-top: 28px;
    width: $container;
  }
  .basket__right-container {
    margin: 0;
  }
  .total-container {
    padding: 16px 23px;
    margin-top: 48px;
  }
  .total__header {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .total__content {
    margin-bottom: 30px;
    margin-top: 35px;
  }
  .total__sum-box {
    margin-top: 85px;
  }
  .total__discounts-box {
    margin-top: 3px;
  }
  .request__content-box {
    padding: 17px;
    width: 100%;
    max-width: $container;
  }
  .request__inputs-box {
    width: 100%;
    margin: 0;
  }
  .request__header {
    font-size: 20px;
    line-height: 28px;
  }
  .request__input {
    line-height: 37px;
    margin-top: 0;
    max-width: unset;
    width: 100%;
  }
  .request__input-header {
    font-weight: 300;
    font-size: 15px;
    line-height: 30px;
    letter-spacing: 0.15em;
    text-transform: capitalize;
  }
  .request__submit-button {
    width: 100%;
    margin-top: 38px;
    margin-bottom: 5px;
  }
  .request__close-button {
    top: 15px;
    right: 19px;
  }
  .request__close-button-img {
    width: 22px;
  }
  .request__background {
    z-index: 31;
  }
  .request__input-container, .request__input-container_top {
    margin-top: 6px;
    width: 100%;
  }
  .request__input-container_first {
    margin: 0;
  }

}
