@media (max-width: 1200px) {
  $control-size: 28px;
  .basket-header__empty {
    margin-top: 35px;
  }
  .basket-content {
    max-width: 660px;
  }
  .basket-header {
    font-weight: 600;
    font-size: 35px;
    line-height: 52px;
    letter-spacing: 0.08em;
    margin-top: 33px;
  }
  .basket-flexbox_empty {
    margin-top: 55px;
  }
  .items-empty-text {
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
  }
  .basket__add-items-button-text {
    font-weight: 300;
    font-size: 20px;
    text-align: center;
  }
  .basket__add-items-button {
    margin-top: 59px;
    color: black;
    background-color: $white;
  }
  .items__remove-all-button {
    top: -50px;
    font-weight: 300;
    font-size: 17px;
    line-height: 28px;
    margin-right: 0;
  }
  .item {
    width: 430px;
    margin-bottom: 20px;
  }
  .item__image-container {
    max-width: 75px;
    width: auto;
    height: 100%;
    margin: 15px 0 15px 15px;
  }
  .item__image {
    max-width: 75px;
    object-fit: cover;
    object-position: center;
  }
  //.item__type {
  //  font-weight: 300;
  //  font-size: 16px;
  //  line-height: 25px;
  //}
  .item__name-container {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    min-width: unset;
    white-space: nowrap;
  }
  .item__prices {
    margin-top: 5px;
  }
  .item__price {
    width: auto;
    min-width: 50px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.02em;
    margin-left: 15px;
  }
  .item__data-container {
    margin: 17px 25px 17px 17px;
  }
  .item__controls {
    margin-top: 25px;
  }
  .rouble-sign {
    margin-left: 9px;
  }
  .item__quantity {
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
  }
  .item__button-content {
    font-weight: 400;
    font-size: $control-size;
    margin: 5px;
  }
  .item__button {
    background-color: initial;
  }
  .item__button-content_minus {
    margin-left: 8px;
    margin-right: 8px;
  }
  .item__quantity-controls {
    margin-right: 9px;
  }
  .total-container {
    width: 270px;
    padding: 16px 30px 19.4px;
  }
  .total__hr {
    margin-top: 7px;
  }
  .total__content {
    margin-top: 15px;
  }
  .total__quantity-header {
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .total__quantity {
    @include text;
  }
  .total__sum-box {
    margin-top: 104px;
  }
  .basket__right-container {
    margin-left: 25px;
  }
  .basket__add-items-button {
    margin-top: 80px;
  }
  .basket__add-items-button_empty {
    margin-top: 60px;
  }
  .total__discounts-box {
    margin-top: 10px;
  }
  .request__content-box {
    padding: 25px 30px;
    width: 461px;
  }
  .request__header {
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  .request__input-header {
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.15em;
  }
  .request__input {
    margin-top: 5px;
  }
  .request__input-container {
    margin-top: 12px;
  }
  .request__input {
    width: 100%;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
  }
  .request__input-container_top {
    margin-top: 0;
  }
}
